 /*contacto*/
 .formu h1 {
    display: flex;
    flex-wrap: wrap;
    border: solid 5px black;
    box-sizing: border-box;
    background-color: bisque;
    text-align: center;
    width: 500px;
}

.formu1{
    box-sizing: border-box;
    margin-left: 20px;
}

  .insta{
    width: 50px;
    height: 50px;
  }

  .tuite{
    width: 50px;
    height: 50px;
    
}