 /*contacto*/
 body{
  background-image: linear-gradient( white, beige, bisque, blanchedalmond, beige, white );
  }

 .formu h1 {
    display: flex;
    flex-wrap: wrap;
    border: solid 2px black;
    box-sizing: border-box;
    background-color: bisque;
    text-align: center;
    width: 500px;
}

.formu1{
    box-sizing: border-box;
    margin-left: 20px;
}

  .insta{
    width: 50px;
    height: 50px;
 
  }

  .tuite{
    width: 50px;
    height: 50px;
    
    
}
@media screen and ( max-width: 360px) {
  
  .formu h1{
    display: flex;
    flex-wrap: wrap;
    text-size-adjust: 10px;
    width: 200px;
  
  }

}
@media screen and ( max-width: 450px) {
  
  .formu h1{
    display: flex;
    flex-wrap: wrap;
    text-size-adjust: 10px;
    width: 200px;
  
  }

}