body{
    background-image: linear-gradient( white, beige, bisque, blanchedalmond, beige, white );
    }
    .titu{
        padding: 2rem;
    }
.stats{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}


$list:(
pad: 5px,
marn: 10px,
testo: none,
color: #000,   
);
$gol:(
    testo: none,   
    color: #000,
    fon: 18px,
    pad: 8px,
);

.list{
    padding: map-get($map: $list, $key: pad );
    margin: map-get($map: $list, $key: marn );
    text-decoration: map-get($map: $list, $key:testo );
    color: map-get($map: $list, $key:color);
    
}
.list__gol{
    text-decoration: map-get($map: $gol, $key: testo );
    color: map-get($map: $gol, $key:color );
    font-size: map-get($map: $gol, $key: fon );
    padding: map-get($map: $gol, $key:pad );

}
.ali{
    display:flex;
    align-content: space-between;
    text-align: center;
        padding: 2rem;
        margin: 2rem;
}
.logo{
    width: 60px;
    height: 60px;

}

@media screen and ( max-width: 360px) {
  
  .stats{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  }
  @media screen and ( max-width: 450px) {
  
    .stats{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    
    }
  