body{
    background-image: linear-gradient( white, beige, bisque, blanchedalmond, beige, white );
    }
    header{
padding: 2rem;
        
    }

main{
    padding: 2rem;
    
}

.contenedores{
   
    animation-name: aparecer;
    animation-duration: 3s;
    animation-delay: 10s;

}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.contenedor__imge {
    width: 500px;
    flex-wrap: wrap;
}
.contenedor__par{
    color:black;
    width: 40%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.lista{       
    width: 100%;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

        &-item{
            padding: 5px;
            margin: 10px;
            text-decoration: none;
            color: #000;
         }
   
}



.lista-item a{
    text-decoration: none;   
    color: #000;
    font-size: 18px;
    background-color:bisque;
    padding: 8px;
    transition: background 1s;
}
.lista-item :hover{
background: pink;

}
.lista-item --aceptar {
    @extend .lista-item;
    background-color: pink;
}
.futer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: blanchedalmond;
    padding: 2rem;
    
    

    &-texto{
        text-align: center;

}

  }
  .tuite{
  }
.insta{
margin-left: 170px;
}

@media screen and ( max-width: 360px) {
  
.contenedor__imge{
    width: 200px;
}
  .contenedor__par{
    padding: 5px;
    font-size: 10px;
  }

  .insta{
    margin-right: 100px;

  }
.tuite{
    margin-left: 100px;
    margin-bottom: 100px;
    flex-wrap: nowrap;

}
  }

  