body{
    background-image: linear-gradient( white, beige, bisque, blanchedalmond, beige, white );
    }

.tabla{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}
.ali{
    display:flex;
    align-content: space-between;
    text-align: center;
        padding: 2rem;
        margin: 2rem;
}
.logo{
    width: 60px;
    height: 60px;

}

@media screen and ( max-width: 360px) {
  
   .tabla{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
  
  }
