/*aqui comienza mi index*/
body{
    background-image: linear-gradient( white, beige, bisque, blanchedalmond, beige, white );
    }


 .ulo {
    background-color: bisque;
    border:solid 2px black;
    box-sizing: border-box;
    text-align: center;
}

.lista{       
    width: 100%;
    margin: 30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-item{
    padding: 5px;
    margin: 10px;
    text-decoration: none;
    color: #000;
}
.lista-item a{
    text-decoration: none;   
    color: #000;
    font-size: 18px;
    background-color:bisque;
    padding: 8px;
    transition: background 1s;
}
.lista-item :hover{
background: pink;

}

main{
    padding: 2rem;
    
}
/*aqui comienzo la grids*/
.contenedores{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    animation-name: aparecer;
    animation-duration: 3s;
    animation-delay: 10s;
   
   
    
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.contenedor__imge {
    width: 500px;
    flex-wrap: wrap;
}
.contenedor__par{
    color:black;
    width: 40%;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.futer{
    bottom:0;
    width:100%;
    height:60px;   
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: left;
}
.insta{
    width: 50px;
    height: 50px;
   
}
.tuite{
    width: 50px;
    height: 50px;

}  

  @keyframes aparecer{
      0%{ opacity: 0;}
      50%{ opacity: 0.5;}
      100%{ opacity: 100%;}
  }

  


    /*aqui termina el index*/

    /*aqui comienza todo lo de la base*/
    .futer2{ /*todos los footer de la base*/
        display: flex; flex-direction: row;
        justify-content: space-around;
        box-sizing: border-box;
        background-color: bisque;
        padding: 10px;
        border: solid 5px black;
        margin: 100px;
        flex-wrap: wrap;
    }
    /*estadisticas*/
    .titu{
        position: relative;
        left: 25%;
    }
    
    h2{
        padding: 10px;
        position: relative;
        left: 20%; 
        background-color: bisque;
        margin-right: 70%;
    }
    
    .list{
        margin-left: 50px;
        margin-right: 200px;
        background-color: beige;
    
    }
    /*tablas*/
    .tablas{
        background-color: beige;
    }
    
    .tabla1{
            margin-top: 100px;
            grid-column: 1/2;
            grid-row: 1/2 ;
            
        }
    .tablat1{
       
        grid-column: 1/2;
        grid-row: 1/2 ;
    }
    .tabla2{
            margin-top: 100px;
            grid-column: 3/4;
            grid-row: 1/2;
        }
        .tablat2{
            grid-column: 3/4;
            grid-row: 1/2 ;
        }
    .tabla3{
            margin-top: 100px;
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .tablat3{
            grid-column: 1/2;
            grid-row: 2/3 ;
        }
        .tabla4{
            margin-top: 100px;
            grid-column: 3/4;
            grid-row: 2/3;

        }
        .tablat4{
            grid-column: 3/4;
            grid-row: 2/3 ;
        }
        /*grids de las tablas*/
        #grillat{ 
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            
        }


    /*noticias*/
    .noti1 h1{
        border: solid 5px black;
        box-sizing: border-box;
        width: 50%;
        text-align: center;
        background-color: bisque;
    }
    
    .noti1 img{
        width: 30%;
        height: 30%;
    }
    
    .noti1 iframe{
       width: 30%;
       height: 30%
    }
    
    .noti1{
        margin-left: 25%;
    }
    
    .fondito{
        background-color: beige;
    }
    
    .noti2 h1 {
        border: solid 5px black;
        box-sizing: border-box;
        width: 40%;
        text-align: center;
        margin-right: 200px;
        background-color: bisque;
    }
    
    .noti2{
        display: block
    }
    
    .noti3 h1{
        border: solid 5px black;
        box-sizing: border-box;
        width: 60%;
        text-align: center;
        position: relative;
        left: 60%;
        background-color: bisque;
    }
    
    .noti3 img{
        position: relative;
        left: 60%;
    }
    
    .noti3{
        display: inline
    }
    
    .alinear{
        display: flex
    }
    /*contacto*/
    .formu h1 {
        border: solid 5px black;
        box-sizing: border-box;
        width: 60%;
        background-color: bisque;
    }
    
    .formu1{
        box-sizing: border-box;
        margin-left: 20px;
    }
    
      .insta{
        width: 50px;
        height: 50px;
        position: relative;
        left: 90%;
      }
    
      .tuite{
        width: 50px;
        height: 50px;
        position: relative;
        left: 92%;
    }
    /*mis media queris*/ 
    @media screen and (max-width: 320px){
       .lista{
        display: flex;
        flex-direction: row;
    }
    .lista-item{

        padding: 2.5px;
        margin: 5px;
        text-decoration: none;
        color: #000;
    }
    .lista-item a{
        text-decoration: none;   
        color: #000;
        font-size: 18px;
        background-color:bisque;
        
        
        }
    
    .contenedores{
            display: grid;
            grid-template-columns:repeat(1, 1fr);
             
        }
        }
        @media screen and (max-width: 768px){
            .lista{
             display: flex;
             flex-direction: row;
         }
         .lista-item{
     
             padding: 2.5px;
             margin: 5px;
             text-decoration: none;
             color: #000;
         }
         .lista-item a{
             text-decoration: none;   
             color: #000;
             font-size: 18px;
             background-color:bisque;
             
             
             }
         
         .contenedores{
                 display: grid;
                 grid-template-columns:repeat(1, 1fr);
                  
             }
             }
            
   @media screen and (max-width: 320px) {
        .futer2{
            display: flex; flex-direction: row;
            justify-content: space-around;
            box-sizing: border-box;
            background-color: bisque;
            padding: 5px;
            border: solid 1px black;
            margin: 10px;
            flex-wrap: wrap;


        }
        #grillat{ 
            grid-template-columns: repeat(4, 1fr);
            align-content: space-between;
        }
        
    }
    @media screen and (max-width: 768px) {
        .futer2{
            display: flex; flex-direction: row;
            justify-content: space-around;
            box-sizing: border-box;
            background-color: bisque;
            padding: 5px;
            border: solid 1px black;
            margin: 10px;
            flex-wrap: wrap;


        }
        #grillat{ 
            grid-template-columns: repeat(4, 1fr);
            align-content: space-between;
        }
        }