body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(beige), color-stop(bisque), color-stop(blanchedalmond), color-stop(beige), to(white));
  background-image: linear-gradient(white, beige, bisque, blanchedalmond, beige, white);
}

header {
  padding: 2rem;
}

main {
  padding: 2rem;
}

.contenedores {
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contenedor__imge {
  width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor__par {
  color: black;
  width: 40%;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.lista {
  width: 100%;
  padding: 1rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lista-item, .lista-item --aceptar {
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  color: #000;
}

.lista-item a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  background-color: bisque;
  padding: 8px;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.lista-item :hover {
  background: pink;
}

.lista-item --aceptar {
  background-color: pink;
}

.futer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: blanchedalmond;
  padding: 2rem;
}

.futer-texto {
  text-align: center;
}

.insta {
  margin-left: 170px;
}

@media screen and (max-width: 360px) {
  .contenedor__imge {
    width: 200px;
  }
  .contenedor__par {
    padding: 5px;
    font-size: 10px;
  }
  .insta {
    margin-right: 100px;
  }
  .tuite {
    margin-left: 100px;
    margin-bottom: 100px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

/*contacto*/
body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(beige), color-stop(bisque), color-stop(blanchedalmond), color-stop(beige), to(white));
  background-image: linear-gradient(white, beige, bisque, blanchedalmond, beige, white);
}

.formu h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: solid 2px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: bisque;
  text-align: center;
  width: 500px;
}

.formu1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 20px;
}

.insta {
  width: 50px;
  height: 50px;
  image-orientation: center;
}

.tuite {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 360px) {
  .formu h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-text-size-adjust: 10px;
       -moz-text-size-adjust: 10px;
        -ms-text-size-adjust: 10px;
            text-size-adjust: 10px;
    width: 200px;
  }
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(beige), color-stop(bisque), color-stop(blanchedalmond), color-stop(beige), to(white));
  background-image: linear-gradient(white, beige, bisque, blanchedalmond, beige, white);
}

.titu {
  padding: 2rem;
}

.stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.list {
  padding: 5px;
  margin: 10px;
  text-decoration: none;
  color: #000;
}

.list__gol {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  padding: 8px;
}

.ali {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.logo {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 360px) {
  .stats {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(beige), color-stop(bisque), color-stop(blanchedalmond), color-stop(beige), to(white));
  background-image: linear-gradient(white, beige, bisque, blanchedalmond, beige, white);
}

/*noticias*/
nav {
  padding: 5rem;
}

.noticias__tit {
  padding: 1rem;
  margin: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 2px black;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.noti1 {
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.noti1 img {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.noti1 iframe {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 1rem;
}

.noti2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.noti2 img {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.noti3 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.noti3 img {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(beige), color-stop(bisque), color-stop(blanchedalmond), color-stop(beige), to(white));
  background-image: linear-gradient(white, beige, bisque, blanchedalmond, beige, white);
}

.tabla {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.ali {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  text-align: center;
  padding: 2rem;
  margin: 2rem;
}

.logo {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 360px) {
  .tabla {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */